<p>products-list works!</p>

<form [formGroup] = "form" (ngSubmit) = "onClickSubmit(form.value)" >
    <input type = "text" 
      name = "patient_name" 
      placeholder = "name" 
      formControlName = "patient_name">
    <br/>
    <input type = "text" 
      name = "patient_age" 
      placeholder = "age" 
      formControlName = "patient_age">
    <br/>
    <input type = "submit" value = "submit">
  </form>
