<h5>Basic Buttons</h5> 
<div> 
  <button mat-button>Basic</button> 
  <button mat-button color="primary">Primary</button> 
  <button mat-button color="accent">Accent</button> 
  <button mat-button color="warn">Warn</button> 
  <button mat-button disabled>Disabled</button> 
</div> 
  
<h5>Raised Buttons</h5> 
<div> 
  <button mat-raised-button>Basic</button> 
  <button mat-raised-button color="primary">Primary</button> 
  <button mat-raised-button color="accent">Accent</button> 
  <button mat-raised-button color="warn">Warn</button> 
  <button mat-raised-button disabled>Disabled</button> 
</div>

<h5>Stroked Buttons</h5> 
<div> 
  <button mat-stroked-button>Basic</button> 
  <button mat-stroked-button color="primary">Primary</button> 
  <button mat-stroked-button color="accent">Accent</button> 
  <button mat-stroked-button color="warn">Warn</button> 
  <button mat-stroked-button disabled>Disabled</button> 
</div> 
  
<h5>Flat Buttons</h5> 
<div> 
  <button mat-flat-button>Basic</button> 
  <button mat-flat-button color="primary">Primary</button> 
  <button mat-flat-button color="accent">Accent</button> 
  <button mat-flat-button color="warn">Warn</button> 
  <button mat-flat-button disabled>Disabled</button> 
</div> 

<h5>Fab Buttons</h5> 
<div> 
  <button mat-fab>Basic</button> 
  <button mat-fab color="primary">Primary</button> 
  <button mat-fab color="accent">Accent</button> 
  <button mat-fab color="warn">Warn</button> 
  <button mat-fab disabled>Disabled</button> 
</div> 
  
<h5>Mini Fab Buttons</h5> 
<div> 
  <button mat-mini-fab>Basic</button> 
  <button mat-mini-fab color="primary">Primary</button> 
  <button mat-mini-fab color="accent">Accent</button> 
  <button mat-mini-fab color="warn">Warn</button> 
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource"> 

     <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.productId}} </td>
     </ng-container>

     <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef > Product name </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.productName}} </td>
     </ng-container>

     <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.quantity}} </td>
     </ng-container>

     <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element" style="text-align:left"> {{element.price | currency }} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>